[core]
  pager = delta
  editor = nvim
  whitespace = trailing-space,-space-before-tab,indent-with-non-tab,cr-at-eol

[user]
  name = Kevin HM Chan
  email = kevinchan714456@gmail.com
  signingkey = 461F21828DA52353

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  # side-by-side = true

[merge]
  conflictStyle = zdiff3

[pull]
  rebase = true

[commit]
  verbose = true
  gpgSign = true

[tag]
  gpgSign = true

[branch]
  sort = -committerdate

[column]
  ui = auto

[maintenance]
  auto = true
  strategy = incremental

[help]
  autocorrect = prompt
