[core]
	pager = delta
	editor = nvim
[user]
	name = Kevin HM Chan
	email = kevinchan714456@gmail.com
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	# side-by-side = true
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
