[core]
  pager = delta
  editor = nvim
  whitespace = trailing-space,-space-before-tab,indent-with-non-tab,cr-at-eol

[init]
	defaultBranch = main

[diff]
  algorithm = histogram

[merge]
  conflictStyle = zdiff3
  tool = nvim

# Open 3 buffers with nvim
# Top -> Local, Remote
# Bottom -> Merged (Desired) file
[mergetool "nvim"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[user]
  name = Kevin HM Chan
  email = kevinchan714456@gmail.com

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  # side-by-side = true

[pull]
  rebase = true

[commit]
  verbose = true
  gpgSign = true

[tag]
  gpgSign = true

[branch]
  sort = -committerdate

[column]
  ui = auto

[maintenance]
  auto = true
  strategy = incremental

[help]
  autocorrect = prompt

[tig]
  vertical-split = true

[tig "bind"]
  generic = <Ctrl-h> scroll-left
  generic = <Ctrl-l> scroll-right
